<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">IneiNG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive>
          <a class="nav-link" routerLink="/map">Mapa</a>
        </li>

        <li class="nav-item" routerLinkActive>
          <a class="nav-link" routerLink="/report">Report</a>
        </li>

        <li class="nav-item" routerLinkActive>
          <a class="nav-link" routerLink="/hello">Hola Mundo</a>
        </li>

        <li class="nav-item" routerLinkActive>
          <a class="nav-link" routerLink="/first">Primera componente</a>
        </li>

        <li class="nav-item" routerLinkActive>
          <a class="nav-link" routerLink="/example">Ejemplo</a>
        </li>

        <li class="nav-item" routerLinkActive>
          <a class="nav-link" routerLink="/contact">Contactos</a>
        </li>
        
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>  
</div>